<section class="phx-hero">
  <label for="prompt"><%= gettext("What do you want to learn about?") %></label>
  <input type="text" id="prompt" />

  <ul class="chips">
    <li>CSS</li>
    <li>HTML</li>
    <li>Elixir</li>
  </ul>
  </main>

</section>
