<section class="phx-hero">
  <label for="prompt"><%= gettext("What do you want to learn about?") %></label>
  <input type="text" id="prompt" />

  <%= tags [css: "CSS", html: "HTML", elixir: "Elixir"] %>
  </main>

</section>
